{
    margin:0px;
    padding:0px;
}
body
{
    height: 70vw;
    width: 100vw;
    background-image: url(imagenes/fondo3.jpg);
    background-size: 100% 100%;
}
.keys
{
    width: 95%;
    position: relative;
    top: 30vh;
    height: 20vh;
    display: flex;
    margin: 0 auto;
    border: 2px solid green;
    justify-content: space-evenly;
    align-items: center;
}
.key
{
    border-radius: 0.5rem;
    border: 0.4rem solid black;
    height: 80%;
    width: 10%;
    text-align: center;
    background-color:rgba(0,0,0,0.4);
    transition: all 0.07 ease;
}
kbd
{
    display: block;
    font-size: 4rem;
}
span
{
    font-size: 1.5rem;
    color: orange;
    text-transform: uppercase;    
}
.playing
{
    transform: scale(1.1);
    border-color: orange;
    box-shadow: 0 0 1rem orange;
}